__We have seen few mathematical operations on the variables where we store our data. How let us see a new way of storing data, using `lists`.__

Even though a `list` is a type of data, it is better to call it a `data structure` instead of `data type`. This is because we are storing the same data in a new structure.

In [1]:
# Let us create various students to store their names
student_1 = 'Pavan'
student_2 = 'Akhila'
student_3 = 'Praveen'
student_4 = 'Krishna'

__This is not a correct way of creating student names because if the `number of students` increase, we cannot accommodate for them.__

So, how to we accommodate space for student names, when we don't know how many students are present. We use the data structure called `list`.

In [2]:
students = ['Pavan', 'Akhila', 'Praveen', 'Krishna']

In [3]:
# if we want to add the new person to the list, after it is created.
students.append('Linus')
students

['Pavan', 'Akhila', 'Praveen', 'Krishna', 'Linus']

In [4]:
# Finding number of values in a list
len(students)

5

In [5]:
# Adding a number in string list.
students.append(11)
students.append(True)
students

# This is accepted in the list. A value of any datatype can be added together in the same list.

['Pavan', 'Akhila', 'Praveen', 'Krishna', 'Linus', 11, True]

In [6]:
# Getting the first element from the list
students[0]

'Pavan'

In [7]:
# This is a new thing to remember. In python, the numbers start from `0`. That way `1` will give you the 2nd element in the list.
students[1]

'Akhila'

In [8]:
# Getting the last element from the list
students[-1]

True

In [9]:
# This represents removing 1 from the length of the list. So instead of getting the length and adding -1 to it, we just give [-1] to the list.
# Works for [-2], [-3]...
students[-2]

11

In [10]:
# Getting first 4 names
students[0:4]

['Pavan', 'Akhila', 'Praveen', 'Krishna']

In [11]:
# The operator `:` means everything. Value on left of `:` is starting_point, and value of right of `:` is ending_point.
# So to get ['Akhila', 'Praveen', 'Krishna'] from the list, the starting_point is 1, and ending_point is 4.
students[1:4]

['Akhila', 'Praveen', 'Krishna']

In [12]:
# Check if an element is in list
'Akhila' in students

True

In [13]:
# Modify a value in list
students[4] = 'Mr.Tech Tips'
students

# We can see the value `Linus` is changed to `Mr.Tech Tips`

['Pavan', 'Akhila', 'Praveen', 'Krishna', 'Mr.Tech Tips', 11, True]

In [14]:
# Insert a value in list in a position
students.insert(4, 'Andy')
students

# We can see 'Andy' is added at position 2

['Pavan', 'Akhila', 'Praveen', 'Krishna', 'Andy', 'Mr.Tech Tips', 11, True]

In [15]:
# Add a list to another list - Adds at the end of first list.
students_2 = ['Jake Peralta', 'Amy Santiago', 'Terrance Jeffords']
students.extend(students_2)
students

['Pavan',
 'Akhila',
 'Praveen',
 'Krishna',
 'Andy',
 'Mr.Tech Tips',
 11,
 True,
 'Jake Peralta',
 'Amy Santiago',
 'Terrance Jeffords']

In [16]:
# Remove a value from list
students.remove('Jake Peralta')
students.remove(True)
students

['Pavan',
 'Akhila',
 'Praveen',
 'Krishna',
 'Andy',
 'Mr.Tech Tips',
 11,
 'Amy Santiago',
 'Terrance Jeffords']

In [17]:
# Remove a value using the position/index of the value. (Index is a preferred term for the position of a value in a list)
students.pop(7)
students

['Pavan',
 'Akhila',
 'Praveen',
 'Krishna',
 'Andy',
 'Mr.Tech Tips',
 11,
 'Terrance Jeffords']

In [18]:
# This will also remove the last value 
students.pop()
students

['Pavan', 'Akhila', 'Praveen', 'Krishna', 'Andy', 'Mr.Tech Tips', 11]

In [19]:
# Empty the whole list
students.clear()
students

[]

In [20]:
# Let us create another list to perform other list operations
numbers = [0, -3, 7, 4, 1, 3, 9, 8, 5]
numbers

[0, -3, 7, 4, 1, 3, 9, 8, 5]

In [24]:
# Sorting a list - ascending
numbers.sort()
numbers

[-3, 0, 1, 3, 4, 5, 7, 8, 9]

In [25]:
# Sorting a list - descending
numbers.sort(reverse = True)
numbers

[9, 8, 7, 5, 4, 3, 1, 0, -3]

In [26]:
# Make copy of a list
numbers_copy = numbers.copy()
numbers_copy

[9, 8, 7, 5, 4, 3, 1, 0, -3]

__This was a big notebook. You've done a good job. Now you have understood how to store sequential data in python. In next notebook, we will see another datatype called `tuple`.__

__Till then, Happy Coding!__