__We have seen few mathematical operations on the variables where we store our data. How let us see a new way of storing data, using `lists`.__

Even though a `list` is a type of data, it is better to call it a `data structure` instead of `data type`. This is because we are storing the same data in a new structure.

In [1]:
# Let us create various students to store their names
student_1 = 'Pavan'
student_2 = 'Akhila'
student_3 = 'Praveen'
student_4 = 'Krishna'

__This is not a correct way of creating student names because if the `number of students` increase, we cannot accommodate for them.__

So, how to we accommodate space for student names, when we don't know how many students are present. We use the data structure called `list`.

In [2]:
students = ['Pavan', 'Akhila', 'Praveen', 'Krishna']

In [3]:
# if we want to add the new person to the list, after it is created.
students.append('Linus')
students

['Pavan', 'Akhila', 'Praveen', 'Krishna', 'Linus']

In [4]:
# Finding number of values in a list
len(students)

5

In [5]:
# Adding a number in string list.
students.append(11)
students

# This is accepted in the list. A value of any datatype can be added together in the same list.

['Pavan', 'Akhila', 'Praveen', 'Krishna', 'Linus', 11]

In [6]:
# Getting the first element from the list
students[0]

'Pavan'

In [7]:
# This is a new thing to remember. In python, the numbers start from `0`. That way `1` will give you the 2nd element in the list.
students[1]

'Akhila'

In [8]:
# Getting the last element from the list
students[-1]

11

In [9]:
# This represents removing 1 from the length of the list. So instead of getting the length and adding -1 to it, we just give [-1] to the list.
# Works for [-2], [-3]...
students[-2]

'Linus'

In [10]:
# Getting first 4 names
students[0:4]

['Pavan', 'Akhila', 'Praveen', 'Krishna']

In [11]:
# The operator `:` means everything. Value on left of `:` is starting_point, and value of right of `:` is ending_point.
# So to get ['Akhila', 'Praveen', 'Krishna'] from the list, the starting_point is 1, and ending_point is 4.
students[1:4]

['Akhila', 'Praveen', 'Krishna']

In [12]:
# Check if an element is in list
'Akhila' in students

True